@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
html{
    overflow: hidden;
}
body{
    overflow-x: hidden;
}
.error{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(#3B3486, #7743DB);
}
.error img{
    width: 100%;
}
@media only screen and (max-width: 990px){
    .error{
        display: none !important;
    }
    html{
        display: block;
        overflow-y: scroll;
    }
    .loader{
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background: linear-gradient(#3B3486, #7743DB);
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 10000;
    }
    .lds-roller {
        display: inline-block;
        position: relative;
        width: 80px;
        height: 80px;
      }
      .lds-roller div {
        animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
        transform-origin: 40px 40px;
      }
      .lds-roller div:after {
        content: " ";
        display: block;
        position: absolute;
        width: 7px;
        height: 7px;
        border-radius: 50%;
        background: #fdd;
        margin: -4px 0 0 -4px;
      }
      .lds-roller div:nth-child(1) {
        animation-delay: -0.036s;
      }
      .lds-roller div:nth-child(1):after {
        top: 63px;
        left: 63px;
      }
      .lds-roller div:nth-child(2) {
        animation-delay: -0.072s;
      }
      .lds-roller div:nth-child(2):after {
        top: 68px;
        left: 56px;
      }
      .lds-roller div:nth-child(3) {
        animation-delay: -0.108s;
      }
      .lds-roller div:nth-child(3):after {
        top: 71px;
        left: 48px;
      }
      .lds-roller div:nth-child(4) {
        animation-delay: -0.144s;
      }
      .lds-roller div:nth-child(4):after {
        top: 72px;
        left: 40px;
      }
      .lds-roller div:nth-child(5) {
        animation-delay: -0.18s;
      }
      .lds-roller div:nth-child(5):after {
        top: 71px;
        left: 32px;
      }
      .lds-roller div:nth-child(6) {
        animation-delay: -0.216s;
      }
      .lds-roller div:nth-child(6):after {
        top: 68px;
        left: 24px;
      }
      .lds-roller div:nth-child(7) {
        animation-delay: -0.252s;
      }
      .lds-roller div:nth-child(7):after {
        top: 63px;
        left: 17px;
      }
      .lds-roller div:nth-child(8) {
        animation-delay: -0.288s;
      }
      .lds-roller div:nth-child(8):after {
        top: 56px;
        left: 12px;
      }
      @keyframes lds-roller {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }
    .homepage{
        position: relative;
        top: 0;
        left: 0;
        z-index: 10;
        display: none;
    }
    .bank-menu{
        width: 100%;
        padding: 10px;
        display: flex;
        justify-content: center;
    }
    .scene {
        display: inline-block;
        width: 80%;
        height: 300px;
      /*   border: 1px solid #CCC; */
        margin: 10px 0;
        perspective: 600px;
    }
      
    .card {
        position: relative;
        width: 100%;
        height: 100%;
        cursor: pointer;
        transform-style: preserve-3d;
        transform-origin: center right;
        transition: transform 1s;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
        border: none;
    }
      
    .card.is-flipped {
        transform: translateX(-100%) rotateY(-180deg);
    }
      
    .card__face {
        position: absolute;
        width: 100%;
        height: 100%;
        color: white;
        backface-visibility: hidden;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        
        
    }
      
    .card__face--front {
        background: linear-gradient(#3B3486, #7743DB);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        padding: 20px;
        overflow: hidden;
    }
    .card__face--front::before{
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        bottom: 0px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        background: linear-gradient(#6057c4, #7743DB) ;
        transform: translateX(50%);
        z-index: 100;
        -webkit-transform: translateX(50%);
        -moz-transform: translateX(50%);
        -ms-transform: translateX(50%);
        -o-transform: translateX(50%);
        box-shadow: inset 0 5px 10px rgba(0, 0, 0, 0.6);
        z-index: 2;
    }
    .card__face--front::after{
        content: '';
        position: absolute;
        width: 100%;
        height: 130%;
        bottom: -10px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        background: linear-gradient(#261e7e, #EFF5F5) ;
        transform: translateX(50%);
        z-index: 100;
        -webkit-transform: translateX(30%);
        -moz-transform: translateX(50%);
        -ms-transform: translateX(50%);
        -o-transform: translateX(50%);
        box-shadow: inset 0 5px 10px rgba(0, 0, 0, 0.6);
        z-index: 1;
    }
    .card__face--front ul{
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 0;
        margin-bottom: 0;
        
    }
    .card__face--front ul li{
        font-family:  sans-serif;
        position: relative;
        z-index: 2;
        text-shadow: 0 5px  rgba(0, 0, 0, 0.4);
    }
    .card__face--front img{
        width: 70px;
    }
      
    .card__face--back {
        position: relative;
        background: linear-gradient(#3B3486, #7743DB);
        transform: rotateY(180deg);
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        overflow: hidden;
    }
    .card__face--back::before{
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        bottom: 0px;
        left: -100%;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        background: linear-gradient(#6057c4, #7743DB) ;
        transform: translateX(50%);
        z-index: 100;
        -webkit-transform: translateX(50%);
        -moz-transform: translateX(50%);
        -ms-transform: translateX(50%);
        -o-transform: translateX(50%);
        box-shadow: inset 0 5px 10px rgba(0, 0, 0, 0.6);
        z-index: 2;
    }
    .card__face--back::after{
        content: '';
        position: absolute;
        width: 100%;
        height: 130%;
        bottom: -10px;
        left: -60%;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        background: linear-gradient(#261e7e, #EFF5F5) ;
        transform: translateX(50%);
        z-index: 100;
        -webkit-transform: translateX(30%);
        -moz-transform: translateX(50%);
        -ms-transform: translateX(50%);
        -o-transform: translateX(50%);
        box-shadow: inset 0 5px 10px rgba(0, 0, 0, 0.6);
        z-index: 1;
    }
    .card__face--back .card-back{
        width: 100%;
        height: 70px;
        background: black;
        margin-top: 15px;
        margin-bottom: 15px;
        position: relative;
        z-index: 2;
    }
    .card__face--back h1{
        text-align: center;
        font-family: monospace;
        position: relative;
        z-index: 2;
        text-shadow: 0 5px rgba(0, 0, 0, 0.4);
        color:yellow;
    }
    .card__face--back ul{
        display: flex;
        align-items: center;
        justify-content: space-between;
        list-style: none;
        padding: 15px;
        margin: 10px;
        
    }
    .card__face--back ul li{
        font-size: 1.5em;
        font-family: monospace;
        position: relative;
        z-index: 2;
        text-shadow: 0 5px rgba(0, 0, 0, 0.4);
        color:yellow;
    }
    .card__face--back ul li:nth-child(1):before{
        content: 'DATE';
        position: absolute;
        width: 50px;
        font-size: 0.5em;
        top: 30px;
    }
    .card__face--back ul li:nth-child(2):before{
        content: 'CVV';
        position: absolute;
        width: 50px;
        font-size: 0.5em;
        top: 30px;
    }
    .navbar-bottom{
        width: 100%;
        height: 10vh;
        padding: 5px;
        display: flex;
        align-items: center;
        position: fixed;
        z-index: 100;
        background: linear-gradient(#6057c4, #7743DB) ;
        bottom: 0;
        box-shadow: 0 5px 10px 10px rgba(0, 0, 0, 0.3);
    }
    .navbar-bottom ul{
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        list-style: none;
        margin-bottom: 0px;
        padding-left: 0;
    }
    .navbar-bottom ul a{
        color: #fff;
    }
    .list-item{
        width: 100%;
        height: 10vh;
        padding: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        font-size: 1.5em;
        background: linear-gradient(#6057c4, #7743DB) ;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        box-shadow: 0 5px 10px rgba(0 0 0 / 40%);
    }
    .items p{
        font-family: monospace;
        text-align: center;
    }
    .payments{
        position: relative;
        display: flex;
        overflow-x: scroll;
    }
    .payments::-webkit-scrollbar{
        height: 0;
    }
    .payment-button{
        background: linear-gradient(#6057c4, #7743DB);
        color: #fff;
        width: 100%;
        height: 10vh;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.5em;
        box-shadow: 0 5px 10px rgba(0 0 0 / 40%);
    }
    .payments .payment-item{
        min-width: 100px;
        height: 10vh;
        margin: 5px;
        background: linear-gradient(#6057c4, #7743DB);
        color: #fff;
        font-size: 1.3em;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        box-shadow: 0 5px 10px rgba(0 0 0 / 40%);
    }
    .payments .payment-item p{
        margin-bottom: 0;
        margin-left: 13px;
        font-size: 0.6em;
    }
    main{
        width: 95%;
        box-shadow: 0 5px 10px rgba(0 0 0 / 40%);
        margin: 20px auto;
        padding: 10px;
    }
    .history-payment{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .history-payment .first-item{
        display: flex;
        align-items: center;
        
    }
    .history-payment .first-item .title{
        width: 50px;
        height: 10vh;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        overflow: hidden;
        margin: 10px;
}
    .history-payment .first-item .title img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .history-payment .first-item .name h4,
    .history-payment .first-item .name p{
        margin-bottom: 0;
    }
    .history-payment .first-item .name p{
        color: gray;
    }
    .cash{
        font-size: 2em;
        color: rgb(15, 201, 15);
        font-family: monospace;
    }

    /* ? Morepage------------------------------*/
    .morepage{
       position: relative;
        display: none;
    }
    .morepage::after{
        content: '';
        position: absolute;
        width: 500px;
        height: 350px;
        top: 0;
        right: 0;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        background: linear-gradient(#261e7e, #EFF5F5) ;
        transform: translate(20%, -40%);
        -webkit-transform: translate(20%, -40%);
        -moz-transform: translate(20%, -40%);
        -ms-transform: translate(20%, -40%);
        -o-transform: translate(20%, -40%);
        box-shadow: inset 0 5px 10px rgba(0 0 0 / 40%);
        z-index: 1;
}
    .morepage::before{
        content: '';
        position: absolute;
        width: 500px;
        height: 250px;
        top: 0;
        right: 0;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        background: linear-gradient(#6057c4, #7743DB);
        transform: translate(40%, -30%);
        -webkit-transform: translate(40%, -30%);
        -moz-transform: translate(40%, -30%);
        -ms-transform: translate(40%, -30%);
        -o-transform: translate(40%, -30%);
        box-shadow: inset 0 5px 10px rgba(0 0 0 / 40%);
        z-index: 2;
}
    .profil{
        position: relative;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .profil .profil-img{
        width: 100px;
        height: 100px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        overflow: hidden;
}
    .profil .profil-img img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .profil .profil-text{
        margin-left: 10px;
        text-align: start;
    }
    .profil .profil-text h1{
        font-family: monospace;
    }
    .profil .profil-text p{
        font-family: 'Courier New', Courier, monospace;
    }
    .more-list{
        display: flex;
        align-items: center;
    }
    .more-list i{
        font-size: 2em;
        color: #6057c4;
    }
    .more-list p{
        color: gray;
        margin-bottom: 0;
        margin-left: 10px;
    }

     /* ? Morepage------------------------------*/

     .alert{
        box-shadow: 0 5px 10px rgba(0 0 0 / 40%);
     }
     .alert span{
        font-family: monospace;
        margin-left: 10px;
     }
     .setting-text{
        padding: 10px;
        box-shadow: 0 5px 10px rgba(0 0 0 / 40%);
     }
     .setting-item p:nth-child(1){
        color: gray;
        font-family: monospace;
     }
     .setting-item p{
        font-family: 'Courier New', Courier, monospace;
     }
     .item-select{
        display: flex;
        align-items: center;
        justify-content: space-between;
     }
     .item-select span{
        font-family: monospace;
     }
     .item-select select{
        width: 100px;
        font-family: monospace;
     }
     .item-select select option{
        font-family: monospace;
     }

}
@media only screen and (max-width: 768px){
    .bank-offcanvas{
        width: 7%;
    }
    .scene {
        width: 80%;
        height: 250px;
    }
    .card__face--back h1:last-child{
        font-size: 1.5em;
    }
    .card__face--back ul{
        padding: 10px;
    }
    .navbar-bottom ul li{
        padding: 5px 50px;
    }
    .payment-button{
        font-size: 1em;
    }
    .cash{
        font-size: 1.3em;
    }
}
@media only screen and (max-width: 576px){
    .bank-offcanvas{
        width: 13%;
    }
    .scene{
        width: 100%;
        height: 200px;
    }
    .card__face--front ul li{
        font-size: 1.5em !important;
    }
    .card__face--front img{
        width: 50px;
    }
    .card__face--back h1{
        font-size: 1.3em;
    }
    .card__face--back h1:last-child{
        font-size: 1.3em;
    }
    .card__face--back ul{
        padding: 0;
    }
    .card__face--back ul li{
        font-size: 1em;
    }
    .card__face--back ul li:nth-child(1):before {
        top: 23px;
    }
    .card__face--back ul li:nth-child(2):before {
        top: 23px;
    }
    .navbar-bottom ul li{
        padding: 5px 30px;
    }
    .items p{
        font-size: 0.8em;
    }
    .history-payment .first-item .name h4{
        font-size: 1.1em;
    }
    .history-payment .first-item .name p{
        font-size: 0.8em;
    }
    .cash{
        font-size: 1em;
    }
}
